#heading{
    text-align: center;
    border: 5px solid blue;
    background-color: rgb(166, 211, 211);
    margin: 0 200px 0 200px;
    border-radius: 20px;
}
#para1{
    border: 2px dotted rgb(217, 87, 87);
    min-width: 150px;
    width: 160;
}
#para2{
    border: 2px solid rgb(39, 180, 205);
    background-color: bisque;
    max-width: 250px;
    max-height: 100px;
    overflow: auto;
    width: 160;
}
#para3{
    border: 2px solid rgb(39, 180, 205);
    background-color: bisque;
    box-sizing: border-box;
    width: 800px;
    padding: 10px;
    border: 10px;
}
#para4{
    border: 2px solid rgb(39, 180, 205);
    background-color: bisque;
    box-sizing: content-box;
    width: 800px;
    padding: 10px;
    border: 10px;
}

